/* 

  styles.css

  Colors
  ======

  Black:          #000000
  Darker grey:    #222222
  Darke grey:     #333333
  Gray:           #444444
  Light Gray:     #eeeeee
  Light Blue:     #00c0ff
  Darker Blue:    #0090bf

*/

/* ==================
  Genral Styles
======================*/

html {
  -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}

/* ==================
  Typography Styles
======================*/

h1, h2, h3 {
  font-weight: 300;
  margin: 0 !important;
  line-height: 45px;
}

h4, h5, h6 {
  font-weight: bold;
  margin: 5px 0 5px 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
  margin: 10px 0;
}

h5 {
  font-size: 13px;
  margin: 0;
  text-transform: uppercase;
}

p {
  margin: 0 0 10px 0;
}

p.lead {
  font-size: 18px;
  font-weight: 300px;
  line-height: 24px;
}

/* ==================
  Layers
======================*/

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  background-color: #000000;
}

#logo {
  display: block;
  padding: 17px 0 17px 5px;
  float: left;
}

#hero {
  background-color: #00c0ff;
}

/* ==================
  Navbar
======================*/

nav ul {
  margin: 0;
  padding: 0;
  float: right;
}

ul li {
  list-style: none;
  float: left;
}

header nav ul li a {
  color: #ffffff;
  padding: 20px;
  border-left: 1px solid #333333;
  display: block;
  font-weight: bold;
  text-decoration: none;
}

header nav ul li a:hover {
  background-color: #222222;
}

header nav ul li a:active {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;;
}

/* ==================
  Global
======================*/

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}